@model IEnumerable<CSBI_test.Models.Task>

@{
    ViewData["Title"] = "Expiring";
}

<h1>Задачи с истекающим сроком</h1>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Задача
            </th>
            <th>
                Время окончания
            </th>
            <th>
                Статус
            </th>
            <th>
                Назначена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityStatus)
            </td>
            <td>
                @item.DelegatedManager?.Name @item.DelegatedManager?.SurName
            </td>
            <td class="text-right">
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
