@model IEnumerable<CSBI_test.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Список задач</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Создать задачу</a>
</p>
<table class="table table-hover" id="app">
    <thead class="thead-dark">
        <tr>
            <th>
               Задача
            </th>
            <th>
               Время начала
            </th>
            <th>
               Время окончания
            </th>
            <th>
                Статус задачи
            </th>
            <th>
                Менеджер
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityStatus)
                </td>
                <td>                  
                    <select class="custom-select" v-model="selected" v-on:change="managerSelected(@item.Id);" title="Выберите менеждера">
                        <option value="" hidden>@item.DelegatedManager?.Name  @item.DelegatedManager?.SurName</option>
                        <option v-for="manager in managers" v-bind:value="manager">
                            {{ manager.name + ' ' + manager.surName}}
                        </option>
                    </select>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            managers: [],
            selected: ''
        },
        methods: {
            managerSelected: function (taskid) {
                console.log('Выбран менеджер');
                axios({
                    method: 'POST',
                    url: '/api/Api/SetTaskToManager/' + taskid,
                    data: this.selected,
                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                }).then(response => {
                    if (response.data == 0) {
                        console.log(response.data);
                        alert('Новый менеджер назначен на выполнение задачи');
                    }
                }).catch(e => { console.log(e) });

            }
        },
        mounted() {

            axios({
                method: 'GET',
                url: '/api/Api/GetManagers',
                headers: { 'Content-Type': 'application/json; charset=utf-8' }
            }).then(response => {
                this.managers = response.data;
                console.log(response.data);

            }).catch(e => { console.log(e) });

        }
    })
</script>